
#licenca-container{
    background-image: url(.././../src/img/backhome.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: middle;
   
    .textGPL{
        
        font-size: 20pt;
        color: white;
        margin-top: 100px;
        height: 800px;
        width: 900px;
        margin-left: 500px;
        text-align: center;
 
        
    }
    .video1{
            margin-top: 50px;
      
        
    }

    .box2{
        width: 100%;

        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(156,156,156,1) 100%);        
        .textolinux{
            height: 450px;
            font-size: 18pt;
            width: 900px;
            font-family: 'AR One Sans';
            text-align: center;
            padding-top: 100px;
            color: white;
            margin-left: 500px;
        }
    }


}


