.container-arquivos{
    background-image: url(./.././../src/img/background3.jpg);
    background-size: cover;
    background-attachment: fixed;
    .textArquivos{
        text-align: center;
        width: 900px;
        font-size: 18pt;
        margin-left: 500px;
        padding-top: 100px;
        color: white;
        font-family: 'AR One Sans';
        

    }
    .video2{
        width: 100%;
        text-align: center;
        margin-top: 50px;
        
    }
}